*.gcda
*.gcno
*.mode1v3
*.pbxuser
*.pyc
*.xccheckout
*.xcscmblueprint
.DS_Store
.build/
.buildstats/
/.bundle/
/.gems/
/.swiftpm
/BuildConfiguration/Variables
/DerivedData/
/InstrumentedBuild/
artifacts/
build/
buildResults/
Packages
project.xcworkspace
docs/_build/
docset-installed.txt
lint_report/
reports/
testbuild.zip
xcuserdata/
xcbaselines/

